---
title: Our team
description: Free Website Monitoring. Be notified when your site is down.
published: true
---
<p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong> Manage Staff members</a></p>

<h2>Website uptime monitoring the efficient way</h2>
<ul class="">
<li>+ no UI, we send an email when your site is down</li>
<li>+ monitor as many URLs as you want</li>
<li>+ this is free and open source software</li>
<li>+ host it yourself or use our instance</li>
<li>+ embed it in your website (see the docs here)</li>
</ul>
<ul class="staff">
	{% for person in site.staff_members %}
		<li>
			<div class="square-image"><img src="{% include relative-src.html src=person.image_path %}" alt="{{ person.name }}"/></div>
			<div class="name"><a target="_blank" href="https://twitter.com/{{ person.twitter }}">{{ person.name }}</a></div>
			<div class="position">{{ person.position }}</div>
		</li>
	{% endfor %}
</ul>
